:root
{
  /* --bgcolour: #1E2326; */
  --bgcolour: rgb(36, 30, 39);  
  --greendark: #3C4841;
  --greenlight: rgb(200,100,100);
  --textcolour: white;
  --lightblue: #7fBBB3;
  --colourHighlight: rgb(255, 102, 0);

  /* scroll-behavior: smooth; */
}

::selection
{
    background-color: var(--colourHighlight);
}

body
{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-color: var(--bgcolour);
  color: var(--textcolour);
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  justify-content: center;
  margin: 0;
}

header
{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  background-color: rgb(30, 40, 90);
  width: 100%;
  font-size: x-large;
}

header img
{
  padding-top: 32px;
}

header a
{
  padding: 12px;
  border-radius: 16px;
  transition: background-color ease-out 0.5s;
}
header a:hover
{
  background-color: var(--lightblue);
}

@media screen and (width <= 990px)
{
  header
  {
    flex-direction: column;
  }
  header img
  {
    display: none;
  }
}

a
{
  color: white;
  text-decoration: none;
}



/* HERO */
.hero
{
  height: 100vh;
  animation: 2s ease-out 0.2s 1 fadein;
}
.hero-image
{
  height: 100vh;
  width: 100vw;
  background-image: url("images/mona-web.jpg");
  background-size: cover;
  background-position: 0 40%;
  filter: blur(8px);
  opacity: 30%;
}
#signature
{
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.hero-text
{
  font-size: 40px;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, 0);
  text-align: center;
}

.hero-arrow, .up-arrow
{
  position: absolute;
  top: 87%;
  text-align: center;
  width: 100%;
  font-size: 6em;
  animation: 3s ease-out 2s 1 fadein;
}
.hero-arrow:hover, .up-arrow:hover
{
  animation: 0.3s bounce infinite alternate;
  cursor: pointer;
}
.up-arrow
{
  top: 0%;
}

@keyframes bounce
{
  from
  {
    translate: 0, 0;
  }
  to
  {
    translate: 0, -20px;
  }
}

@keyframes fadein
{
  from
  {
    opacity: 0;
  }
  to
  {
    opacity: 1;
  }
}


  

/* MENU */
.menu
{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 16px;
  margin: 64px;
}
.link-area
{
  position: absolute;
  width: 90%;
  height: 75%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* background-color: blue; */
}

.menu-item
{
  position: relative;
  width: 100vw;
  height: 100vh;
  opacity: 0.5;
  transition: opacity ease-out 0.3s;
}
.menu-item:hover
{
  opacity: 1;
}

.menu-item-bg
{
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("images/ambush.jpg");
  background-position: 0 50%;
  opacity: 0.6;
  z-index: -1;
}

.menu-item-text
{
  font-size: 13vw;
  position: absolute;
  text-align: center;
  width: 100%;
  top: 50%;
  transform: translate(0, -50%);
  color: white;
  overflow-wrap: anywhere;
}
.menu-item:hover
{
  cursor: pointer;
}
.menu-item-text::after
{
  content: "";
  background: var(--colourHighlight);
  opacity: 70%;
  height: 1vh;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  mix-blend-mode: screen;
  transition: 0.2s ease-in-out;
}
.menu-item-text:hover::after
{
  height: 8.5vh;
}

#portfolio
{
  background-image: url("images/ambush.jpg");
  background-size: cover;
  background-position: 65% 25%;
}
#commission
{
  background-image: url("images/amber-web.jpg");
  background-size: cover;
  background-position: 50% 35%;
}
#games
{
  background-image: url("images/games/3d-test1.jpg");
  background-size: cover;
  background-position: 50% 45%;
}
#about
{
  background-image: url("images/commission_images/sol-lake.jpg");
  background-size: cover;
  background-position: 50% 35%;
  cursor: default;
}

@media screen and (max-width: 992px)
{
  .hero-image
  {
    background-position: 40% 20%;
  }
  #signature
  {
    width: 65%;
  }
  .hero-text
  {
    width: 100%;
    font-size: xx-large;
  }
  .menu-item
  {
    opacity: 1;
  }
  #portfolio
  {
    background-position: 52% 0;
  }
  #commission
  {
    background-position: 40% 0;
  }
}


/* ABOUT */
.about-section
{
  cursor: default;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.card-container
{
  width: 90%;
  height: 90%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.card
{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  gap: 8px;
  width: 100%;
  height: 70%;
  padding: 8px;
  margin: 32px;
  border-radius: 32px;
  background-color: var(--bgcolour);
}

.card-header
{
  position: relative;
  text-align: center;
  font-size: 3vw;
}
.card-header::after
{
  content: "";
  background: var(--colourHighlight);
  height: 0.5vh;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: 0.2s ease-in-out;
}
.card-header:hover::after
{
  width: 0;
}
.card-image
{
  width: 100%;
  height: 30%;
  background-image: url("images/nightwoods.jpeg");
  background-size: cover;
}
#modelling-card
{
  background-image: url("images/games/strange-shores3.jpg");
  background-position: 0 20%;
}
#gamedev-card
{
  background-image: url("images/games/3d-test2.jpg");
}
.card-body
{
  font-size: 2vw;
  padding: 12px;
  border-radius: 16px;
  border: 3px solid var(--lightblue);
  transition: border ease-out 0.1s;
}
.card-body:hover
{
  border: 3px solid rgba(0,0,0,0);
}
@media screen and (width <= 990px)
{
  .card-container
  {
    flex-direction: column;
  }
  .card
  {
    width: 70%;
  }
  .card-image
  {
    height: 70%;
  }
  .card-header
  {
    font-size: 4vw;
  }
  .card-body
  {
    font-size: 3vw;
    padding: 0;
    border-radius: 0;
    border: none;
  }
  #modelling-card
  {
    background-position: 0 40%;
  }
  #gamedev-card
  {
    background-position: 0 40%;
  }
}



/* PORTFOLIO */


.image-container
{
  width: 95%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 8px;
}
.image-row
{
  width: 33%;
  display: flex;
  gap: 8px;
  flex-direction: column;
}
.image-container img
{
  border-radius: 16px;
}
@media screen and (width <= 990px)
{
  .image-container
  {
    flex-direction: column;
  }
  .image-row
  {
    width: 100%;
  }
}


/* COMMISSION INFO */

.commission-info
{
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.comm-card
{
  position: relative;
  width: 70%;
  height: 60%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-radius: 32px;
  gap: 16px;
  margin: 64px;
  border: 6px solid white;
}

#comm-info-card
{
  flex-direction: column;
  justify-content: center;
}

.comm-card-bg
{
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 25%;
  border-radius: 32px;
  background-image: url("images/kerida-elf.jpg");
  background-size: cover;
  background-position: 50% 20%;
  z-index: -1;
}

.comm-card-left, .comm-card-right
{
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.comm-card-left
{
  justify-content: space-between;
}

.comm-card-image
{
  position: absolute;
  right: 0;
  height: 900px;
}
.comm-card-image img
{
  height: 700px;
}
#char-design-img
{
  height: 900px;
}
#char-ref-img
{
  transform: translate(0, 48px);
}
#comm-portrait-img
{
  height: 750px;
  transform: translate(-100px, 18px);
}

.comm-card-header
{
  position: relative;
  text-align: center;
  padding: 32px;
  font-size: 50px;
  font-weight: 600;
}
.comm-card-header:after
{
  content: "";
  background: var(--colourHighlight);
  opacity: 70%;
  height: 1vh;
  width: 100%;
  position: absolute;
  bottom: 25px;
  left: 0;
  mix-blend-mode: screen;
  transition: 0.2s ease-in-out;
}
.comm-card-header:hover::after
{
  width: 0;
}

.comm-card-price
{
  font-size: 46px;
  font-style: oblique;
}

.comm-card-body
{
  text-align: center;
  padding: 32px;
  font-size: 24px;
}
.comm-card-body li
{
  padding: 16px;
  font-size: larger;
  text-decoration: none;
}
.comm-card ul
{
  list-style: none;
  padding: 0;
  margin: 0;
}

.comm-card-left button
{
  padding: 16px 32px 16px 32px;
  margin: 32px;
  border-radius: 32px;
  font-size: large;
}

#comm-info-bg
{
  background-image: url("images/commission_images/assunta-comm-night.jpg");
  background-size: cover;
  background-position: 0 15%;
}
#char-design-bg
{
  background-image: url("images/kings-raid1.jpg");
  background-size: cover;
}
#char-ref-bg
{
  background-image: url("images/commission_images/Model\ Sheet.png");
  background-size: cover;
}
#game-portrait-bg{
  background-image: url("images/portrait-comm-bg.png");
  background-size: cover;
}

@media screen and (width <= 990px)
{
  .comm-card
  {
    width: 100%;
    margin: 16px;
    border: none;
    justify-content: center;
    align-items: center;
  }
  .comm-card-right
  {
    display: none;
  }
  #comm-info-card
  {
    height: 100%;
  }
  .comm-card-header
  {
    font-size: 48px;
  }
  .comm-card-price
  {
    font-size: 36px;
  }
  .comm-card-body
  {
    font-size: larger;
  }
  #char-design-bg
  {
    background-image: url("images/commission_images/nova\ transparent.png");
  }
}

