:root
{
  /* --bgcolour: #1E2326; */
  --bgcolour: rgb(35, 30, 50);  
  --greendark: #3C4841;
  --greenlight: rgb(200,100,100);
  --textcolour: white;
  --lightblue: #7fBBB3;
  --colourHighlight: rgb(255, 102, 0);

  /* scroll-behavior: smooth; */
}

@font-face
{
  font-family: inclusive-sans;
  src: url(fonts/InclusiveSans-Regular.ttf);
}

::selection
{
    background-color: var(--colourHighlight);
}

body
{
  font-family: 'inclusive-sans', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-color: var(--bgcolour);
  color: var(--textcolour);
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  justify-content: center;
  margin: 0;
}

header
{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  background-color: rgb(45, 70, 55);
  width: 100%;
  font-size: x-large;
}
.header-left, .header-right
{
  display: flex;
  justify-content: space-evenly;
  gap: 128px;
}
header img
{
  height: 110px;
  padding-top: 32px;
}

header a
{
  padding: 12px;
  border-radius: 16px;
  transition: background-color ease-out 0.5s;
}
header a:hover
{
  background-color: var(--lightblue);
}

@media screen and (width <= 990px)
{
  header
  {
    flex-direction: row;
    justify-content: space-evenly;
  }
  .logo
  {
    flex-grow: 2;
  }
  .header-left, .header-right
  {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 8px;
  }
  header a
  {
    padding: 8px;
    margin: 0;
  }
  header img
  {
    height: 100px;
    padding: 0;
    margin: 0;
  }
}

a
{
  color: white;
  text-decoration: none;
}




/* HERO */
.hero
{
  height: 100vh;
  animation: 2s ease-out 0.2s 1 fadein;
}
.hero-image
{
  height: 100vh;
  width: 100vw;
  background-image: url("images/meetAshe.jpg");
  background-size: cover;
  background-position: 0 45%;
  filter: blur(7px);
  opacity: 40%;
}
#signature
{
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.hero-text
{
  font-size: 40px;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, 0);
  text-align: center;
}

.hero-arrow, .up-arrow
{
  position: absolute;
  top: 87%;
  text-align: center;
  width: 100%;
  font-size: 6em;
  animation: 3s ease-out 2s 1 fadein;
}
.hero-arrow:hover, .up-arrow:hover
{
  animation: 0.3s bounce infinite alternate;
  cursor: pointer;
}
.up-arrow
{
  top: 0%;
}

@keyframes bounce
{
  from
  {
    translate: 0px, 0px;
  }
  to
  {
    translate: 0px, -20px;
  }
}

@keyframes fadein
{
  from
  {
    opacity: 0;
  }
  to
  {
    opacity: 1;
  }
}


  

/* MENU */
.menu
{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 16px;
  margin: 64px;
}
.link-area
{
  position: absolute;
  width: 90%;
  height: 75%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.menu-item
{
  position: relative;
  width: 100vw;
  height: 100vh;
  opacity: 50%;
  transition: opacity ease-out 0.3s;
}
.menu-item:hover
{
  opacity: 1;
}

.menu-item-bg
{
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("images/ambush.jpg");
  background-position: 0 50%;
  opacity: 0.6;
  z-index: -1;
}

.menu-item-text
{
  font-size: 13vw;
  position: absolute;
  text-align: center;
  width: 100%;
  top: 50%;
  transform: translate(0, -50%);
  color: white;
  overflow-wrap: anywhere;
}
.menu-item:hover
{
  cursor: pointer;
}
.menu-item-text::after
{
  content: "";
  background: var(--colourHighlight);
  opacity: 70%;
  height: 1vh;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  mix-blend-mode: screen;
  transition: 0.2s ease-in-out;
}
.menu-item-text:hover::after
{
  height: 8.5vh;
}

#portfolio
{
  background-image: url("images/night6.jpg");
  background-size: 120%;
  background-position: 75% 45%;
}
#commission
{
  background-image: url("images/commission_images/laylin-riverside-web.jpg");
  background-size: cover;
  background-position: 30% 30%;
}
#games
{
  background-image: url("images/games/3d-test1.jpg");
  background-size: cover;
  background-position: 50% 45%;
}

@media screen and (max-width: 992px)
{
  .hero-image
  {
    background-position: 72% 20%;
  }
  #signature
  {
    width: 65%;
  }
  .hero-text
  {
    width: 100%;
    font-size: xx-large;
  }
  .menu-item
  {
    opacity: 1;
  }
  .hero-arrow, .up-arrow
  {
    display: none;
  }
  #portfolio
  {
    background-size: cover;
    background-position: 30% 0;
  }
  #commission
  {
    background-position: 77% 0;
  }
}




  
/* PORTFOLIO */


.image-container
{
  width: 95%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 8px;
}
.image-row
{
  width: 33%;
  display: flex;
  gap: 8px;
  flex-direction: column;
}
.image-container img
{
  opacity: 0.0;
  border-radius: 16px;
}
@media screen and (width <= 990px)
{
  .image-container
  {
    flex-direction: column;
  }
  .image-row
  {
    width: 100%;
  }
}


/* COMMISSION INFO */

.commission-info
{
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.comm-card
{
  position: relative;
  width: 100%;
  height: 60%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  /* border-radius: 32px; */
  gap: 16px;
  margin: 64px;
  border-top: 6px solid white;
  border-bottom: 6px solid white;
}

#comm-info-card
{
  flex-direction: column;
  justify-content: center;
}

.comm-card-bg
{
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 25%;
  /* border-radius: 32px; */
  background-image: url("images/emerald.jpeg");
  background-size: cover;
  background-position: 50% 20%;
  z-index: -1;

  animation-name: bg-anim;
  animation-duration: 10s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes bg-anim
{
  from {background-position: 0% 100%;}
  to {background-position: 0% 0%;}
}

@keyframes bg-anim-mobile
{
  from {background-position: 0% 0%;}
  to {background-position: 100% 0%;}
}

@keyframes fade
{
  from {opacity: 0}
  to {opacity: var(--maxOpacity)}
}

.fade
{
  --maxOpacity: 1.0;
  --delayOffset: 0s;
  animation: fade 1.5s forwards;
  animation-delay: var(--delayOffset);
}


.comm-card-left, .comm-card-right
{
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.comm-card-left
{
  justify-content: space-between;
}

.comm-card-header
{
  position: relative;
  text-align: center;
  padding: 32px;
  font-size: 50px;
  font-weight: 600;
}
.comm-card-header:after
{
  content: "";
  background: var(--colourHighlight);
  opacity: 70%;
  height: 1vh;
  width: 100%;
  position: absolute;
  bottom: 25px;
  left: 0;
  mix-blend-mode: screen;
  transition: 0.2s ease-in-out;
}
.comm-card-header:hover::after
{
  width: 0;
}

.comm-card-price
{
  font-size: 46px;
  font-style: oblique;
}

.comm-card-body
{
  text-align: center;
  padding: 32px;
  font-size: 24px;
}
.comm-card-body li
{
  padding: 16px;
  font-size: larger;
  text-decoration: none;
}
.comm-card ul
{
  list-style: none;
  padding: 0;
  margin: 0;
}

.comm-card a
{
  text-align: center;
  padding: 24px;
  margin: 24px;
  font-size: 24px;
  border-radius: 32px;
  background-color: var(--lightblue);
  transition: 0.2s ease-out;
}
.comm-card a:hover
{
  border-radius: 8px;
  background-color: var(--colourHighlight);
  padding: 26px;
  font-size: 26px;
}

#comm-info-bg
{
  background-image: url("images/meet-lia-izara-web.jpg");
  background-size: cover;
  /* background-position: 0 15%; */
}

#char-design-bg
{
  background-image: url("images/kings-raid1.jpg");
  background-size: cover;
}
#char-ref-bg
{
  background-image: url("images/nalia-reference.jpg");
  background-size: cover;
}
#game-portrait-bg{
  animation: none;
  background-image: url("images/vn-sample.png");
  background-size: cover;
}

@media screen and (width <= 990px)
{
  .comm-card
  {
    width: 100%;
    margin: 16px;
    border: 2px solid white;
    justify-content: center;
    align-items: center;
  }
  .comm-card-right
  {
    display: none;
  }
  #comm-info-card
  {
    height: 100%;
  }
  .comm-card-header
  {
    font-size: 48px;
  }
  .comm-card-price
  {
    font-size: 36px;
  }
  .comm-card-body
  {
    font-size: larger;
  }
  .comm-card-bg
  {
    animation-name: bg-anim-mobile;
    animation-duration: 10s;
    animation-iteration-count: infinite;
  }
  #char-ref-bg
  {
    background-image: url(images/nalia-reference.jpg);
    /* background-position: 13% 0%; */
    /* background-size: 450%; */
  }
  #game-portrait-bg
  {
    animation-name: bg-anim-mobile;
    animation-direction: alternate;
    animation-duration: 10s;
    animation-iteration-count: infinite;
  }
}



/* GAME INFO CARDS */

#game-disclaimer
{
  font-size: x-large;
}

.games-info
{
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.game-card
{
  position: relative;
  width: 100%;
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
  margin: 64px;
  padding-top: 32px;
  padding-bottom: 32px;
  border-top: 6px solid white;
  border-bottom: 6px solid white;
}

@media screen and (width <= 990px)
{
  .game-card
  {
    border-top: 2px solid white;
    border-bottom: 2px solid white;
  }
}

.game-card-bg
{
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 25%;
  background-image: url("images/games/strange-shores2.jpg");
  background-size: cover;
  background-position: 50% 20%;
  z-index: -1;
}
#alchemist-remake-bg
{
  background-image: url("images/vn-sample.png");
}
#millika-bg
{
  background-image: url("images/games/millika2.jpg");
}
#alchemist-bg
{
  background-image: url("images/games/alchemist-banner.jpg");
}
#home-bg
{
  background-image: url("images/games/home-banner.png");
}
#journey-home-bg
{
  background-image: url("images/games/journey-home1.jpg");
}

.game-card-header
{
  position: relative;
  text-align: center;
  padding: 32px;
  font-size: 50px;
  font-weight: 600;
}
.game-card-header:after
{
  content: "";
  background: var(--colourHighlight);
  opacity: 70%;
  height: 1vh;
  width: 100%;
  position: absolute;
  bottom: 25px;
  left: 0;
  mix-blend-mode: screen;
  transition: 0.2s ease-in-out;
}
.game-card-header:hover::after
{
  width: 0;
}

.game-card-body
{
  text-align: center;
  padding: 32px;
  font-size: 28px;
}
.game-card a
{
  text-align: center;
  padding: 24px;
  font-size: 24px;
  border-radius: 32px;
  background-color: var(--lightblue);
  transition: 0.2s ease-out;
}
.game-card a:hover
{
  border-radius: 8px;
  background-color: var(--colourHighlight);
  padding: 26px;
  font-size: 26px;
}

.game-card-body li
{
  padding: 16px;
  font-size: 24px;
  text-decoration: none;
}
.game-card ul
{
  border-radius: 32px;
  list-style: none;
  padding: 0;
  margin: 0;
}

#game-disclaimer
{
  text-align: center;
  width: 50%;
}

/* CONTACT LINKS */

.contact
{
  color: white;
  text-align: center;
}

.contact-sites
{
  padding-top: 20px;
  padding-bottom: 20px;
}

.contact-sites img
{
  padding-left: 10px;
  padding-right: 10px;
  width: fit-content;
  opacity: 60%;
}

.contact-sites img:hover
{
  opacity: 100%;

  /* animation: 0.3s bounce infinite alternate; */
  /* animation-timing-function: cubic-bezier(); */
}
